
<div class="row">
  <div class="col-sm-1">
    <img src="assets/images/cards/{{feed.user.displayProfile}}" class="rounded-circle" style="max-height: 60px">
  </div>
  <div class="col-sm-7">
    <div class="card">
      <div class="card-header">
        {{feed.user.username}}
        <span class="float-right">{{feed.postedDate}}</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{feed.header}}</h5>
        <p class="card-text">{{feed.shortDescription}}</p>
       <!-- <a class="btn btn-primary">More</a>-->
      </div>
      <div class="card-body">
        <a class="btn btn-default btn-success mr-1"  aria-label="Comments" (click)="clickComment()">
          <i class="fa fa-comment fa-fw" aria-hidden="true" ></i> {{feed.commentsCount}}
        </a>
        <a class="btn btn-default btn-primary mr-1"  aria-label="Likes">
          <i class="fa fa-thumbs-up  fa-fw" aria-hidden="true"></i> {{feed.likesCount}}
        </a>
        <a class="btn btn-default btn-secondary mr-1"  aria-label="Share">
          <i class="fa fa-share-alt  fa-fw" aria-hidden="true"></i>
        </a>
      </div>
      <div *ngIf="isCommentVisible">
        <app-comments-card [comments]="feed.comments"></app-comments-card>
      </div>
    </div>
  </div>
</div>



